.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px
}

.list {
  flex-direction: row;
  width: 15%;
  align-items: flex-end;
  border-right: 1px solid black;
}

.list_item {
  list-style: none;
}

@media (max-width: 600px) {
  .list {
    width: 50%;
    flex-direction: column;
  }
}