
.timeline {
  --line-color: var(--md-ref-palette-tertiary40);
}

.content {
  padding: 1rem;
  box-shadow:  4px  4px 15px -13px var(--md-sys-color-shadow);
  border-radius: 1px;
}

.itemHeader {
  margin: 0 1rem;
  text-align: left;
}

.listItem {
  text-align: left;
}