.timeline {
  --line-color: var(--md-ref-palette-tertiary40);
}

.content {
  padding: 1rem;
  /* box-shadow:  4px  4px 13px -13px var(--md-sys-color-shadow); */
  border-radius: 8px;
  border: 2px solid var(--md-sys-color-outline);

}

.itemHeader {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  margin-top: -2.75em;

}

@media only screen and (max-width: 600px) {
  .itemHeader {
    margin-bottom: 2em;
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  .content {
    margin-bottom: 2em;
  }
}

.listItem {
  text-align: left;
}

.name {
  display: inline-block;
  padding: 0 0.25em;
  margin-left: -0.25em;
  background-color: var(--md-sys-color-background);
  ;
}