

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #222;
  }

  
  .vertical-timeline-element-content {
    background-color: #DDD;
  }

  .vertical-timeline-element-date  {
    color: white;
  }

  .vertical-timeline-element-content-arrow {
    border-right: 10px solid #DDD;
  }

}
